@media (min-width: 768px) {
    .circle {
        animation: Pulsation 1.333s ease-in infinite;
    }
}

@media (max-width: 767px) {
    .circle {
        animation: PulsationMin 1.333s ease-in infinite;
    }
}

.searchHelper.active {
    animation: ShowFromTop 100ms ease-in;
}

@keyframes Pulsation {
    0% {
        border: 12px solid #FFEBC6;
    }
    50% {
        border: 6px solid #FFEBC6;
    }
    100% {
        border: 12px solid #FFEBC6;
    }
}

@keyframes PulsationMin {
    0% {
        border: 7px solid #FFEBC6;
    }
    50% {
        border: 3px solid #FFEBC6;
    }
    100% {
        border: 7px solid #FFEBC6;
    }
}

@keyframes ShowFromTop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
