h1,h2,h3,h4, p, a, li, input, input::placeholder, i {
    font-family: 'Rubik';
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
}

h1.min {
    font-size: 45px;
}

h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 110%;
}

h2.low {
    font-size: 30px;
}

h3 {
    font-weight: 500;
    font-size: 18px;
}

h4  {
    font-weight: 500;
    font-size: 22px;
}

p.huge {
    font-size: 30px;
}

p.big {
    font-size: 20px;
}

p.middle {
    font-size: 18px;
}

p.medium {
    font-size: 16px;
}

p.low {
    font-size: 14px;
}
p.tiny {
    font-size: 12px;
}
p, a, li {
    font-size: 16px;
    line-height: 150%;
}

a {
    color: #1E63CA;
}

.white__text {
    color: #FFFFFF;
}

.blue__text {
    color: #1E63CA;
}

.lightBlue__text {
    color: #78A1DF;
}

.black__text {
    color: #000000;
}

.gray__text {
    color: #929292;
}

.lightGray__text {
    color: #BABABA;
}

.green__text {
    color: #6FB72C;
}

.red__text {
    color: #EC463B;
}

.weight700 {
    font-weight: 700;
}

.weight500 {
    font-weight: 500;
}

.weight400 {
    font-weight: 400;
}


footer li, footer a, footer p, footer {
    color: #FFFFFF;
}

*::placeholder {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #929292;

}


@media (max-width: 1520px) and (min-width: 1139px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 40px;
    }
    p.big {
        font-size: 18px;
    }

    p, a, li {
        font-size: 16px;
    }
    h1.min {
        font-size: 40px;
    }

}
@media (max-width: 1139px) and (min-width: 767px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 18px;
    }
    p.big {
        font-size: 16px;
    }

    p, a, li {
        /*font-size: 12px;*/
        line-height: 150%;
    }
    h2.low {
        font-size: 24px;
    }
    p.huge {
        font-size: 25px;
    }
    h1.min {
        font-size: 35px;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 25px;
        line-height: 130%;
    }

    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 18px;
    }
    p.big {
        font-size: 16px;
    }

    p, a, li {
        /*font-size: 12px;*/
        line-height: 150%;
    }
    h2.low {
        font-size: 22px;
    }
    h1.min {
        font-size: 30px;
    }
}
