.bigBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.bigBlock h1 {
    font-size: 45px;
    font-weight: 700;
}

.smallBlock {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.smallBlock h2 {
    font-size: 22px;
    font-weight: 500;
}

.cardSection {
    display: flex;
    gap: 20px;
}

.cardSection {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
}

.card h3 {
    font-size: 18px;
    font-weight: 500;
}

.card p, .card a {
    font-size: 16px;
    font-weight: 400;
}

.card .gray {
    color: #929292;
}

.card a {
    color: #1E63CA;
}

.card__article {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.card__articleTwoSec {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.card__articleCol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardSection__double {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    margin-top: 30px;
}

.blue {
    color: #1E63CA;
}

.card__article--withDots {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}
.card__article--withDots .dots {
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
}
.card__article--withDots p {
    min-width: fit-content;
}



/* --------------------------------  FORM -------------------------------------*/


.text-field_floating {
    position: relative;
}
.text-field_floating .text-field__input {
    /*line-height: 1.25;*/
    padding: 10px 24px;
    border-radius: 30px;
    border: 1px solid #1E63CA;
    text-decoration: none;
    min-height: 56px;
}
.text-field_floating .text-field__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px 24px;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
    margin-top: 15px;


    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    color: #BABABA;
}
.text-field_floating .text-field__input::-moz-placeholder {
    color: transparent;
}
.text-field_floating .text-field__input::placeholder {
    color: transparent;
}
.text-field_floating .text-field__input:focus,
.text-field_floating .text-field__input:not(:placeholder-shown) {
    padding-top: 15px;
    padding-bottom: 5px;
}
.text-field_floating .text-field__input:focus~.text-field__label,
.text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label {
    opacity: .65;
    transform: scale(.85) translateY(-10px) translateX(5px);
}


.input {
    display: flex;
}

.input input {
    margin-top: 15px;
}

.input .text-field__input {
    font-family: 'Rubik';
    font-style: normal;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0B121C;
}

.bigInput {
    border-radius: 30px;
    border: 1px solid #1E63CA;
    padding: 10px 25px;

    height: 95px;

    display: flex;
    justify-content: flex-start;

    margin-top: 15px;
}

.bigInput::-webkit-scrollbar {
    display: none;
}

.bigInput::placeholder {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #BABABA;
}

.article p.name__label {
    max-width: 100%;
}

.text-field__counter {
    margin-left: 90%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #D9D9D9;
}

.column {
    display: flex;
    flex-direction: column;
}

.checkboxInput.input input, .checkboxInput label p{
    margin-top: 0;
}

.checkboxInput{
    align-items: center;
    margin-bottom: 15px;
}

.sendButton {
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 16px 32px;
}
.sendButton{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #1E63CA;
    margin-top: 0;
    max-width: 100%;
}

.searchBlock.order1 .article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 718px;
}

.searchBlock.order1 .article h2 {
    max-width: 30%;
}

.searchBlock.order1 .img_pos img {
    max-width: 90%;
}
.answers {
    width: 42%;
}
@media (max-width: 1520px) and (min-width: 1140px) {
    .searchBlock.order1 .article {
        height: 678px;
        max-height: 678px;
    }
    .searchBlock.order1 .img_pos img {
        height: 738px;
        width: auto;
    }
    .searchBlock.order1 .article h2 {
        max-width: 33%;
    }
}
@media (max-width: 1139px) {
    .searchBlock.order1 .article {
        height: 624px;
    }
    .searchBlock.order1 .img_pos img {
        height: 486px;
        max-height: 486px;
        width: auto;
    }
    .text-field__counter {
        margin-left: 78%;
    }
    .searchBlock.order1 .article h2 {
        max-width: 42%;
    }
    .cardSection {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
    }
    .smallBlock {
        margin-top: 40px;
    }
    .cardSection__double {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }
    .bigBlock {
        margin-bottom: 80px;
    }
}



@media (max-width: 767px) {
    .order1 .article h2, .article p, .order1 .article .searchForm, .order1 .input .text-field__input {
        max-width: 100%;
        width: 100%;
    }
    .article p.name__label {
        max-width: 100%;
    }
    .text-field__counter {
        margin-left: 70%;
    }
    .sendButton {
        margin-bottom: 0px;
    }
    .card__article--withDots {
        align-items: center;
    }
    .card__article--withDots p {
        min-width: 25%;
    }
    .card {
        padding: 20px;
    }
    .card__article {
        flex-wrap: wrap;
    }
    .bigBlock h1 {
        font-size: 30px;
    }
    .searchBlock.order1 .article {
        height: fit-content;
    }
    .answers {
        width: 100%;
    }
    .searchBlock.order1 .article h2 {
        max-width: 100%;
    }
    .searchBlock.order1 .img_pos img {
        max-width: 390px;
        max-height: inherit;
    }
}
