.headerShoppingCart {
    display: flex;
    align-items: flex-start;
}
.counter input.counterOfProduct {
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
}
input.promo {
    padding: 18px 24px;
    border: 1px solid #d9d9d9;
    background-color: #F7FAFF;
    width: 100%;
    border-radius: 30px;
    margin-top: 20px;
}

.text__row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

label {
    cursor: pointer;
}

.deleteButton {
    cursor: pointer;
}
.inputChek {
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkedCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 21px 30px;
    border-radius: 30px;

    box-shadow: 0px 0px 5px #EBF3FF;
}

.deleteButton {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sectionCardsShop {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sectionCardsShop .card {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
.sectionCardsShop .card .counter {
    display: flex;
    gap: 10px;
    padding: 10px 22px;
    border: 1px solid #d9d9d9;
    background-color: #F7FAFF;
    height: fit-content;
    border-radius: 30px;
}

.sectionCardsShop .card .counter p {
    min-width: 16px;
    text-align: center;
}

.sectionCardsShop .card .main {
    display: flex;
    gap: 10px;
    align-items: center;
}
.sectionCardsShop .card .main img {
    max-width: 100px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #EBF3FF;
}
.counter .low {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card .inputChek {
    gap: 10px;
    width: 100%;
}


.sectionCardsShop .card.first {
    padding: 30px 30px 30px 30px;
    border-bottom: 1px solid #EDEDED;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.sectionCardsShop .card .text a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 5px 5px 0;
    width: fit-content;
}
.sectionCardsShop .card .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card .deleteButton p {
    width: max-content;
}

.complect {
    background-color: #fff;
    border-radius: 30px;
}
.rightSideA {
    display: flex;
    align-items: center;
    gap: 20px;
}


.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.helper {
    width: 100%;
    max-width: 560px;
    background-color: #fff;
    border-radius: 30px;
    padding: 60px 74px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.helper p {
    text-align: center;
}
.helper .button {
    width: 100%;
    background-color: #1E63CA;
    border-radius: 30px;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.helper .whitebutton {
    padding: 5px;
}

.checkBox .custom-checkbox+label{
    display: flex;
}
.forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.input {
    width: 100%;
}

@media (max-width: 1023px) {
    .twoSection {
        display: flex;
        flex-direction: column;
    }
    .right {
        display: flex !important;
        margin-top: 20px;
        width: 100%;
    }
    .right .card {
        width: 100%;
    }

    .rightSideA {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .rightSideA .deleteButton {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .sectionCardsShop .card.unavailable {
        flex-direction: row;
    }
    .sectionCardsShop .card {
        display: flex;
        flex-direction: column;
    }
    .sectionCardsShop .card .rightSideA {
        margin-left: 115px;
    }
    .sectionCardsShop .card .main img {
        max-width: 70px;
        height: 70px;
    }
    .helper {
        padding: 20px 30px;
    }
    .counter .low {
        display: none;
    }
}
@media (max-width: 425px) {
    .sectionCardsShop .card .rightSideA {
        margin-left: 0px;
    }
}

